@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');

body{
    font-family: 'Inter', sans-serif;
    text-align: -webkit-center;
    background: #1C1C1C;
}

h2{
    margin-bottom: -0.5em;
    font-size: 18px;
}

button{
    position: inherit;
    justify-self: center;
    width: 117px;
    height: 42px;
    left: 217px;
    top: 209px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;

    background: #FFFFFF;
    /* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

#inputValue{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    background: transparent;
    border: 2px solid white;
    margin: 0em 5em 1em 5em;
    color: white;
    margin: 0em 5em 0.5em 5em;
    width: 15%;
    font-size: 60px;
    text-align-last: center;
    justify-self: center;
    border-radius: 8px;
}
#main{
    display: grid;
    padding: 0em 5em 2em 5em;
    background: #6943FF;
    width: 40%;
    color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#output{
    display: grid;
    padding: 0em 5em 2em 5em;
    background: #f4f4f4;
    width: 40%;
    color: #5A537B;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#dark-mode{
    background: black;
    color: white;
    margin-top: 2em;
}

.result{
    background: white;
    padding: 1em 0em 2em 0em;
    margin: 2em 0em 1em 0em;
    width: 90%;
    justify-self: center;
    border-radius: 24px;
}

.unit-name{
    font-size: 24px;
    margin-bottom: 1em;
}

.unit-result{
    font-weight: 500;
}

/*remove spin button number input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.dark-mode-body{
    
}


/*-----------Media Queries (Medium Devices)--------------------*/
@media screen and (max-width: 1024px){
    #main{
        place-content: center;
    }
}

/*-----------Media Queries (Small Devices)--------------------*/
@media screen and (max-width: 600px){
    #main{
        place-content: center;
    }
    h1{
        font-size: 18px;
    }
}